            
                <link rel="stylesheet" type="text/css" href="{{asset('css/choix.css') }}">





    


<div class="container">
  <div class="box">
    <span></span>
    
    <div class="content">
      <h2>Hôtels
      &Infos</h2>
      <p></p>
       <a href="{{  path('app_hotel_index') }}">Cliquez ici</a>
    </div>
  </div>
  <div class="box">
    <span></span>
    <div class="content">
      <h2>Demandes
      &Messages</h2>
      <p></p>
       <a href="http://localhost:8080/nada/contact.jsp" >Cliquez ici</a>
    </div>
     </div>

 
    
  </div>
  </section>
 