{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
        <link rel="stylesheet" type="text/css" href="{{asset('css/img.css') }}">
<section class="saying_block Musk">
    <div class="saying_content">

<h1> Demande envoyée avec succés! </h1>
 </div>

 </section>
{% endblock %}
